<%- include("partials/header.ejs") %>
<div class="category-row">
  <div class="score"><h3>Player 1: <%= player1 %></h3></div>
  <div class="score"><h3>Player 2: <%= player2 %></h3></div>
</div>
<div class="board">
  <div class="category-row">
    <div class="title-box"><h3>History</h3></div>
    <div class="title-box"><h3>Music</h3></div>
    <div class="title-box"><h3>Science</h3></div>
    <div class="title-box"><h3>Geography</h3></div>
    <div class="title-box"><h3>Film & TV</h3></div>
  </div>
  <div class="question-rows">
    <div class="column">
      <% for (let i = 0; i < 3; i++) { %>
      <form action="/question" method="post">
        <button type="submit" value="<%= i %>" name="question">
          <div class="new-box" id="<%= i%>">
            <p><%= i + 1%>00</p>
          </div>
        </button>
      </form>

      <% } %>
    </div>
    <div class="column">
      <% for (let i = 3; i < 6; i++) { %>
      <form action="/question" method="post">
        <button type="submit" value="<%= i %>" name="question">
          <div class="new-box" id="<%= i%>">
            <p><%= i - 2%>00</p>
          </div>
        </button>
      </form>
      <% } %>
    </div>
    <div class="column">
      <% for (let i = 6; i < 9; i++) { %>
      <form action="/question" method="post">
        <button type="submit" value="<%= i %>" name="question">
          <div class="new-box" id="<%= i%>">
            <p><%= i - 5%>00</p>
          </div>
        </button>
      </form>
      <% } %>
    </div>
    <div class="column">
      <% for (let i = 9; i < 12; i++) { %>
      <form action="/question" method="post">
        <button type="submit" value="<%= i %>" name="question">
          <div class="new-box" id="<%= i%>">
            <p><%= i - 8%>00</p>
          </div>
        </button>
      </form>
      <% } %>
    </div>
    <div class="column">
      <% for (let i = 12; i < 15; i++) { %>
      <form action="/question" method="post">
        <button type="submit" value="<%= i %>" name="question">
          <div class="new-box" id="<%= i%>">
            <p><%= i - 11%>00</p>
          </div>
        </button>
      </form>
      <% } %>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>
